@model IEnumerable<MvcNet.Models.PostModel>
@{
    ViewData["title"] = "Blog master add";
}

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publish Date</th>
        <th>Action</th>
    </tr>
    @foreach (var i in Model)
    {
    <tr>
        <td>@i.id</td>    
        <td>@i.title</td>    
        <td>@i.publishDate</td>    
        <td>
            <form asp-action="DeletePost" method="delete">

            </form>
        </td>    
    </tr>
    }
</table>