@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="User" asp-action="LoginPost">
    <label>User</label>
    <input type="text" class="form-control" name="user">
    <br>
    <label>Password</label>
    <input type="password" class="form-control" name="pass">
    <br>
    <button class="btn btn-success" type="submit">Login</button>
</form>