@{
    ViewData["Title"] = "List User";
}
<h1>@ViewData["Title"]</h1>

@if (TempData["message"] != null)
{
    <div class="alert alert-success"> <span class="closebtn" onclick="this.parentElement.style.display='none';"> × </span> @TempData["message"] </div>
}

<table class="table table-default">
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Microsoft.AspNetCore.Identity.IdentityUser u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.UserName</td>
                <td>
                    <a href="~/User/@u.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>